body{background-color:#f8f8f8;font-family:'Roboto', sans-serif;font-size:14px;}
* {margin:0;padding:0;}
.transition-easy-05{-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.transition-easy-1{-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;transition:all 1s ease-in-out;}
img{max-width:100%;}
section{position:relative;z-index:5;background:#fff;}
h2{font-weight:900;color:#e67373;font-size:40px;}
h2, h3 {margin:40px 0px;}
h2 span {color:#b5b5b5;}
.tooltip a {color:#e67373;font-weight:700;}
#nav-icon4 {width:35px;height:25px;position:fixed;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer;right:20px;top:20px;}
.fixed-top {z-index:20000;}
nav.navbar {padding-top:0px;background-color:transparent;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
nav.navbar.white{background-color:#FFF;-webkit-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.5);-moz-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.5);box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.5);}
nav.navbar.white #nav-icon4 span {background:#d3531a;}
nav.navbar .navbar-brand{padding:0px;min-height:65px;background-repeat:no-repeat;background-image:url(../images/logo-menu.png);-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
nav.navbar.white .navbar-brand{background-image:url(../images/logo-menu-2.png);}
#nav-icon4 span {display:block;position:absolute;height:5px;width:100%;background:#b9b9b9;border-radius:9px;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out;}
#nav-icon4 span:nth-child(1) {top:0px;-webkit-transform-origin:left center;-moz-transform-origin:left center;-o-transform-origin:left center;transform-origin:left center;}
#nav-icon4 span:nth-child(2) {top:10px;-webkit-transform-origin:left center;-moz-transform-origin:left center;-o-transform-origin:left center;transform-origin:left center;}
#nav-icon4 span:nth-child(3) {top:20px;-webkit-transform-origin:left center;-moz-transform-origin:left center;-o-transform-origin:left center;transform-origin:left center;}
#nav-icon4.open span:nth-child(1) {-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);top:-1px;left:5px;}
#nav-icon4.open span:nth-child(2) {width:0%;opacity:0;}
#nav-icon4.open span:nth-child(3) {-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);top:25px;left:5px;}
.menu-superior{background:url('../images/bg-menu.png') #e67373 no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.menu-superior a {color:#fff;padding:10px;display:block;font-size:30px;}
.menu-superior .col-md-6:nth-child(1) a{padding-top:100px;}
#moduloQue{background-image:url('../images/pattern/ricepaper.jpg');z-index:5;}
#moduloQue h1 {font-weight:900;font-size:80px;line-height:65px;padding:70px 0px 40px;color:transparent;background:url('../images/bg-h1.jpg') repeat #b9b9b9;background-position:40% 50%;-webkit-background-clip:text;}
img.gif-mouse {max-width:60px;padding-top:5em;cursor:pointer;}
#moduloQue h1 span {font-size:60px;}
#moduloLograr .container-fluid{background-color:#f8f8f8;padding:5px 0px 45px;}
#moduloCliente{background:url('../images/bg-clientes.png') #e67373 no-repeat center center fixed;padding:40px 0px;}
#moduloBases {z-index:4;}
.modulo-bases{min-height:300px;padding:0px;}
.modulo-bases .front{background-color:#e3e3e3;}
.modulo-bases .front h4 {color:#e67373;}
.modulo-bases.base-soft .front{background-color:#ebebeb;}
.modulo-bases .back{background-color:#db6b6b;position:absolute !important;color:#fff;}
.modulo-bases .back h4 {color:#FFFFFF;}
.modulo-bases.base-soft .back{background-color:#e67373;}
.modulo-bases p {padding:10px 30px;font-size:12px;}
#moduloQuines{background:url('../images/bg-quienes.png') no-repeat center center fixed;padding:100px 0px 50px;min-height:750px;}
#moduloCliente h1 {padding:150px 0px 0px;color:#FFF;margin-bottom:0px;font-size:100px;font-weight:100;}
#moduloCliente h2 {margin:0px;background:#fff;font-size:60px;}
#moduloCliente h3 {margin:0px;color:#fff;font-size:70px;}
#moduloCliente p {padding-top:30px;color:#fff;font-size:20px;}
#moduloVideo{z-index:0;}
#moduloVideo iframe,#moduloVideo object,#moduloVideo embed {position:fixed;top:0;left:0;width:100%;height:100%; z-index:1;}
.bottom-modulo{position:absolute;bottom:0px;height:1px;}
/* Animacion para anchor */
a span {display:inline-block; animation:float .9s ease-in-out infinite; } 
@keyframes float { 0%,100%{transform:none; } 33%{transform:translateY(-1px) rotate(-2deg); } 66%{transform:translateY(1px) rotate(2deg); }}
a:hover span {animation:bounce 1s; }
@keyframes bounce {0%,100%{transform:translate(0); } 25%{transform:rotateX(20deg) translateY(2px) rotate(-3deg); } 50%{transform:translateY(-20px) rotate(3deg) scale(1.1);}}
a span:nth-child(2){animation-delay:.05s;}
a span:nth-child(3){animation-delay:.1s; }
a span:nth-child(4){animation-delay:.15s;}
a span:nth-child(5){animation-delay:.2s; }
a span:nth-child(6){animation-delay:.25s;}
a span:nth-child(7){animation-delay:.3s; }
a span:nth-child(8){animation-delay:.35s;}
a span:nth-child(9){animation-delay:.4s; }
a span:nth-child(10){animation-delay:.45s;}
a span:nth-child(11){animation-delay:.5s; }
a span:nth-child(12){animation-delay:.55s;}
a span:nth-child(13){animation-delay:.6s; }
a span:nth-child(14){animation-delay:.65s;}
a span:nth-child(15){animation-delay:.7s; }
a span:nth-child(16){animation-delay:.75s;}
a span:nth-child(17){animation-delay:.8s; }
a span:nth-child(18){animation-delay:.85s;}
a span:nth-child(19){animation-delay:.9s; }
a span:nth-child(20){animation-delay:.95s;}
a span:nth-child(21){animation-delay:1s; }
a span:nth-child(22){animation-delay:1.05s;}
.overlay {height:100%;width:0;position:fixed;z-index:100000;top:0;left:0;background-color:#f8f8f8;overflow-x:hidden;transition:0.5s;}
.overlay-content {position:relative;}
#cliente-btn,#abcdijon-btn{position:fixed;top:100px;z-index:99;cursor:pointer;}
#cliente-btn{right:0px;}
#abcdijon-btn{left:0px;display:none;}
.icon-vermas {position:absolute;right:0px;top:0px;cursor:pointer;display:table;}
.front .icon-vermas {left:0px;}
.closebtn {width:25px;display:block;position:absolute;right:20px;top:20px;z-index:2;cursor:pointer;}
.closebtn img {max-width:100%;}
.description-embajador {position:absolute;left:0px;top:75px;background:#e67373;color:#fff;width:222px;font-size:12px;padding:10px 15px;text-align:left;}
.slider-quienes h3 {margin:0px;text-align:left;color:#e67373;font-weight:bold;padding-left:140px;}
.slider-quienes h4 {text-align:left;color:#b9b9b9;padding-left:140px;}
.description-embajador,.slider-quienes h3,.slider-quienes h4 {opacity:0;}
.slick-center .description-embajador,.slider-quienes .slick-center h3,.slider-quienes .slick-center h4 {opacity:1;}
.slider-quienes img {max-width:75%;opacity:0.7;}
.slick-slide{position:relative;}
.slider-quienes .slick-center img {max-width:100%;opacity:1;}
.col-md-12.slider{padding:0px;}
@-webkit-keyframes heronumber {100% {z-index:10;-webkit-transform:translateX(-50%) translateZ(0);}}
.heronumber {position:relative;background:#00d1e3;}
.heronumber:before,.heronumber:after {content:"";position:absolute;z-index:1000;top:0;bottom:0;width:2px;}
.heronumber:before {left:-1px;}
.heronumber:after {right:-1px;}
.winds_pattern {position:absolute;z-index:1;top:0;bottom:0;left:0;right:-100%;background:url(../images/pattern/winds.png);-webkit-animation-name:heronumber;-webkit-animation-duration:40s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;animation-name:heronumber;animation-duration:100s;animation-iteration-count:infinite;animation-timing-function:linear;}
.arbol-right,.arbol-left{position:absolute;width:300px;}
.arbol-right img,.arbol-left img{animation: bounce 15s ease-in-out infinite;}
.arbol-right {right:0px;top:70px;}
.arbol-left{left:0px;bottom:70px;}
.slider-para-quienes .row{min-height:100px;padding:100px 0px;}
.slider-para-quienes .row .col-md-6{float:left;}